<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TeamX-20121114141432;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-TeamX-20121114141432.mdf"
      providerName="System.Data.SqlClient" />
    <add name="TimetableContext" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Timetable;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
