@{
    ViewBag.Title = "Home Page";

    int id = ViewBag.Id;
    string day = "";
    switch (id)
    {
        case 1: day = "Monday"; break;
        case 2: day = "Tuesday"; break;
        case 3: day = "Wednesday"; break;
        case 4: day = "Thursday"; break;
        case 5: day = "Friday"; break;
        default: day = "WTF"; break;
    }
    ViewBag.Day = day;
}
<form action="~/Home/ResultPage" name="docentform">
  <h3>Klas</h3>
				<div class="ui-widget">
			    <label>Selecteer een klas:  &nbsp;&nbsp;</label>
			    <select id="combobox">
			    	<option value="">Select one.."></option>
                    <script src="~/Scripts/fillComboBox.js"></script>
				</select>
				</div>

<h3>Lokaal</h3>
				<div class="ui-widget">
			    <label>Selecteer een lokaal:  &nbsp;&nbsp;</label>
			    <select id="combobox1">
			    	<option value="">Select one.."></option>
				</select>
				</div>
					
			<h3>OLOD</h3>
				<div class="ui-widget">
			    <label>Selecteer een OLOD:&nbsp;</label>
			    <select id="combobox2">
			    	<option value="">Select one.."></option>
				</select>
				</div>	
            
			<h3>Docent</h3>
					<div class="ui-widget">
				    <label>Selecteer een docent: </label>
				    <select id="combobox3">
				        <option value="">Select one...</option>
				    </select>
				</div>
				<input type="submit" value="OK" class="button">
                </form>