@{
    ViewBag.Title = "Home Page";
    ViewBag.Format = String.Format("{0:dddd}", @ViewBag.Datum);
}
<script src="~/Scripts/fillComboBox.js"></script>
<form action="~/Home/ResultPage" name="docentform">
   <h1 class"indexTitle">@ViewBag.Format</h1>
  <h3>Klas</h3>
				<div class="ui-widget">
			    <label>Selecteer een klas:  &nbsp;&nbsp;</label>
			    <select id="combobox">
			    	<option value="">Select one.."></option>
				</select>
				</div>

            <h3>Lokaal</h3>
				<div class="ui-widget">
			    <label>Selecteer een lokaal:  &nbsp;&nbsp;</label>
			    <select id="combobox1">
			    	<option value="">Select one.."></option>
				</select>
				</div>
					
			<h3>OLOD</h3>
				<div class="ui-widget">
			    <label>Selecteer een OLOD:&nbsp;</label>
			    <select id="combobox2">
			    	<option value="">Select one.."></option>
				</select>
				</div>	
            
			<h3>Docent</h3>
					<div class="ui-widget">
				    <label>Selecteer een docent: </label>
				    <select id="combobox3">
				        <option value="">Select one...</option>
				    </select>
				</div>
				<input type="submit" value="OK" class="button">
                </form>