@{
    ViewBag.Title = "Home Page";
}

  <h3>Klas</h3>
				<div class="ui-widget">
			    <label>Selecteer een klas:  &nbsp;&nbsp;</label>
			    <select id="combobox">
			    	<option value="">Select one.."></option>
				</select>
				</div>
				
				
			<h3>OLOD</h3>
				<div class="ui-widget">
			    <label>Selecteer een OLOD:&nbsp;</label>
			    <select id="combobox1">
			    	<option value="">Select one.."></option>
				</select>
				</div>	
			<h3>Docent</h3>
					<div class="ui-widget">
				    <label>Selecteer een docent: </label>
				    <select id="combobox2">
				        <option value="">Select one...</option>
				        <option value="ActionScript">ActionScript</option>
				        <option value="AppleScript">AppleScript</option>
				        <option value="Asp">Asp</option>
				        <option value="BASIC">BASIC</option>
				        <option value="C">C</option>
				        <option value="C++">C++</option>
				        <option value="Clojure">Clojure</option>
				        <option value="COBOL">COBOL</option>
				        <option value="ColdFusion">ColdFusion</option>
				        <option value="Erlang">Erlang</option>
				        <option value="Fortran">Fortran</option>
				        <option value="Groovy">Groovy</option>
				        <option value="Haskell">Haskell</option>
				        <option value="Java">Java</option>
				        <option value="JavaScript">JavaScript</option>
				        <option value="Lisp">Lisp</option>
				        <option value="Perl">Perl</option>
				        <option value="PHP">PHP</option>
				        <option value="Python">Python</option>
				        <option value="Ruby">Ruby</option>
				        <option value="Scala">Scala</option>
				        <option value="Scheme">Scheme</option>
				    </select>
				</div>
				<input type="submit" value="OK" class="smbutton">