@{
    ViewBag.Title = "Parser Form";
}

<form  action="#">
    <p>Test</p>
	<input type="text" name="parserinfo" class="bigfield" value="Kopieër de parserinfo in het tekstveld:"><br />
	<input type="text" value="Submit" class="button">
</form>
