@{
    ViewBag.Title = "ResultPage";
}
<div>
   <script src="~/Scripts/resultPage.js"></script>
   
    <table id="overzicht" style="background-color:#E6E6E6;width:100%;border-collapse:collapse;">
        <tr>
            <th align="center" >Dag</th>
            <th align="center">Start</th>
            <th align="center">Einde</th>
            <th align="center">Klas</th>
            <th align="center">Olod</th>
            <th align="center">Lokaal</th>
            <th align="center">Docent</th>
        </tr>
    </table>
</div>
